a {
    text-decoration:underline;
    color:darkred !important;
}

#map {
    height:400px;
}

#findme-map {
    height:300px;
}

.loading {
    background: url('../img/loading.gif') left top;
}

.note-debug {
    border-bottom:1px solid #eee;
    font-family: monospace;
}

a.load {
    text-decoration:none;
}

a.l {
    padding:2px;
    text-decoration:underline;
    font-size:13px;
    margin:0 4px;
}

.active {
    font-weight:bold;
}

h2, p {
    margin:0;
    padding:0 20px;
}
