a {
    text-decoration:underline;
    color:darkred !important;
}

.fillL {
    background:#f4f4ff;
}

#map {
    height:400px;
}

#findme-map {
    height:300px;
}

.loading {
    background: url('../img/loading.gif') left top;
}

.note-debug {
    border-bottom:1px solid #eee;
    font-family: monospace;
}

a.load {
    text-decoration:none;
}

a.l {
    padding:2px;
    text-decoration:underline;
    font-size:13px;
    margin:0 4px;
}

.active {
    font-weight:bold;
}

button {
    font:inherit;
}

.done {
    background:#9ed485;
    border:0;
    font-weight:bold;
}

.on-1 .step-1,
.on-2 .step-2,
.on-3 .step-3 {
    background:#eee;
}

.steps {
    border:1px solid #ccc;
}

.steps div {
    -webkit-transition:all 500ms ease-in;
    transition:all 500ms ease-in;
}

.steps.on-3 div {
    background:#9ed485;
}

.steps div a {
    font-weight:bold;
    text-decoration:none;
    color:#000 !important;
}

.mr {
    margin-right:10px;
}

footer {
    margin-top: 10em;
    font-size: 80%;
}

@media only screen and (max-width:640px) {
    .logo {
        display: block;
        float: none;
        margin: auto;
    }
    .app-title {
        text-align: center;
    }
}