#map {
  height: 400px;
}

#findme-map {
  height: 300px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.select2-container .select2-choice {
  height: 38px;
}

.select2-container .select2-choice .select2-arrow b,
.select2-container .select2-choice span.select2-chosen {
  margin-top: 5px;
}